    <!-- Header -->
    <header>
        <h1><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurant Dashboard</h1>
        <a href="javascript:dc.filterAll(); dc.renderAll();"
        data-step="8" 
        data-intro="Refresh all filters" 
        style="font-weight: normal" 
        data-position="right"><i class="fa fa-refresh" aria-hidden="true"></i></a>
        <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour</button>        
    </header>
    <!-- /Header -->